@font-face {
  font-family: 'Supreme';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local('Supreme'),
    url('../fonts/supreme/supreme-normal.woff2') format('woff2'),
    url('../fonts/supreme/supreme-normal.woff') format('woff');
}

@font-face {
  font-family: 'Supreme';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local('Supreme'),
    url('../fonts/supreme/supreme-bold.woff2') format('woff2'),
    url('../fonts/supreme/supreme-bold.woff') format('woff');
}
